.otp {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7fa;
  height: 80vh;
}

.otp .wrapper {
  font-family: "K2D", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  color: #333;
}

.otp .dialog {
  height: 502px;
  border: solid 1px #ccc;
  margin: 10px auto;
  padding: 50px 30px;
  display: inline-block;
  box-shadow: 0 0 4px #ccc;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  max-width: 500px;
}

.otp h3 {
  margin: 0 0 10px;
  padding: 0;
  line-height: 1.25;
}

.otp span {
  font-size: 90%;
}

.otp .form {
  max-width: 100%;
  margin: 25px auto 0;
}

.otp input {
  margin: 0 5px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  border: solid 1px #ccc;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 13%;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  color: #000;
}

.otp input:focus {
  border-color: #00bcd5;
  box-shadow: 0 0 5px #00bcd5 inset;
}

.otp input::selection {
  background: transparent;
}

.otp div {
  position: relative;
  z-index: 1;
}

.otp img {
  position: absolute;
  bottom: -70px;
  right: -63px;
}
